<!-- <div class="register">
  <div class="form">
    <h1>Register User</h1>

    <div class="success" *ngIf="successMessage">{{ successMessage }}</div>
    <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>

    <div class="form-control">
      <label>Name: </label>
      <input type="text" name="name" [(ngModel)]="name" />
    </div>

    <div class="form-control">
      <label>Email Address: </label>
      <input type="text" name="email" [(ngModel)]="email" />
    </div>

    <div class="form-control">
      <label>Password: </label>
      <input type="password" name="password" [(ngModel)]="password" />
    </div>

    <div class="form-control">
      <label>Role: </label>
      <select name="role" [(ngModel)]="role">
        <option value="" disabled selected>Select Role</option>
        <option value="Frontend">Frontend Dev</option>
        <option value="Backend">Backend Dev</option>
        <option value="Full Stack">Full Stack Dev</option>
      </select>
    </div>

    <div class="form-control">
      <button (click)="registerUser()">Register</button>
    </div>

    <div class="login-link">
  <p>Don't have an account? 
    <button (click)="navigateToLogin()">Login</button>
  </p>
</div>
</div> -->
<!-- 
 <div class="logo">
            <img src="./assets/imgs/logo.png" alt="easyclass" />
            <h4>easyclass</h4>
          </div>

          <div class="heading">
            <h2>Get Started</h2>
            <h6>Already have an account?</h6>
            <span class="toggle" (click)="toggleSignUpMode()">Sign in</span>
          </div>

          <div class="actual-form">
            <div class="input-wrap">
              <input
                type="text"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
              />
              <label>Name</label>
            </div>

            <div class="input-wrap">
              <input
                type="email"
                class="input-field"
                autocomplete="off"
                required
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
              />
              <label>Email</label>
            </div>

            <div class="input-wrap">
              <input
                type="password"
                minlength="4"
                class="input-field"
                autocomplete="off"
                required
                (focus)="onFocus($event)"
                (blur)="onBlur($event)"
              />
              <label>Password</label>
            </div>

            <input type="submit" value="Sign Up" class="sign-btn" />

            <p class="text">
              By signing up, I agree to the
              <a href="#">Terms of Services</a> and
              <a href="#">Privacy Policy</a>
            </p>
          </div> -->